<form class="post_like" action="/posts/<%= post.id %>/like" method="POST">
  <input type="hidden" name="_method" value="PUT">
  <input type="submit" class="post_like_button" value="ðŸ‘ Like!">
</form>
